{{extend 'layout.html'}}

<!DOCTYPE html>
<html>
<head>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;

}

tr:nth-child(even) {
	background-color: #dddddd;
}

</style>
</head>
<body>
    <br>
    <h2 align="center">Orders Placed</h2>

	<table>
		<tr>
            <th>Order Time</th>
			<th>Name</th>
            <th>Purchased Item</th>
            <th>Quantity</th>
            <th>Order Total</th>
            <th>Delivery Location</th>
		</tr>
		{{for o in orders:}}
		<tr>
            <th>{{=o.order_date}}</th>
			<th>{{=o.customer_name}}</th>
            <th>
                {{for item in o.cart:}}
                    {{=item['product_name']}}<br>
                {{pass}}
            </th>
            <th>
                {{for item in o.cart:}}
                    {{=item['desired_quantity']}}<br>
                {{pass}}
            </th>
            <th>${{=o.order_total}}</th>
            <th>{{=o.delivery_location}}
            </th>

		</tr>
		{{pass}}
	</table>
    <br>
    <hr size="10" align="center">
    {{=form}}
</body>
</html>

