{{extend 'layout.html'}}

<!DOCTYPE html>
<html>
<head>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;

}

tr:nth-child(even) {
	background-color: #dddddd;
}

</style>
</head>
<body>
    <br>
    <h2 align="center">Orders Placed</h2>
	<table>
		<tr>
            <th>Order Time</th>
			<th>Name</th>
			<th>Shipping Address</th>
            <th>Purchased Item</th>
            <th>Quantity</th>
            <th>Order Total</th>
            <th>Order Breakdown</th>
		</tr>
		{{for o in orders:}}
		<tr>
            <th>{{=o.order_date}}</th>
			<th>{{=o.customer_info['shipping_name']}}</th>
			<th>
				{{=o.customer_info['shipping_address_line1']}},
				{{=o.customer_info['shipping_address_city']}},
				{{=o.customer_info['shipping_address_state']}},
				{{=o.customer_info['shipping_address_zip']}}
			</th>
            <th>
                {{for item in o.cart:}}
                    {{=item['product_name']}}<br>
                {{pass}}
            </th>
            <th>
                {{for item in o.cart:}}
                    {{=item['desired_quantity']}}<br>
                {{pass}}
            </th>
            <th>${{=o.order_total}}</th>
            <th>{{for item in o.cart:}}
                    <span>{{=item['price']*item['cart_quantity']}}</span><br>
                {{pass}}
            </th>
		</tr>
		{{pass}}
	</table>
    <br>
    {{=form}}
</body>
</html>

