body {
        font-family: 'Lato', Calibri, Arial, sans-serif;
        color: #b3b9bf;
        background: #f9f9f9;
}

div.clean_table{
    padding: 40px 140px 40px 140px;
}

div.cleaner_table{
    padding: 40px 700px 40px 100px;
}
div.checkout_text{
    font-size: large;
    margin: auto;
}


/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
div.main_content {
  padding: 20px;
}
/* line 7, ../sass/_main.scss */
div.main_content button:focus {
  border-color: white;
  outline: none;
}
/* line 12, ../sass/_main.scss */
div.main_content input.search_input {
  width: 80% !important;
}
/* line 15, ../sass/_main.scss */
div.main_content div.product_description {
  margin-top: 15px;
}
/* line 18, ../sass/_main.scss */
div.main_content span.buy_buttons {
  margin-left: 30px;
}
/* line 21, ../sass/_main.scss */
div.main_content span.product_quantity {
  margin-left: 30px;
}
/* line 24, ../sass/_main.scss */
div.main_content span.product_price {
  font-size: 140%;
  font-weight: bold;
}
/* line 28, ../sass/_main.scss */
div.main_content .product_image {
  max-width: 300px;
}
/* line 31, ../sass/_main.scss */
div.main_content .shopping_button {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.main_content .shopping_button button.back-btn{
  left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 35, ../sass/_main.scss */
div.main_content .search_div {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 39, ../sass/_main.scss */
div.main_content .page_title {
  font-size: 250%;
}
/* line 42, ../sass/_main.scss */
div.main_content .total_price {
  font-size: 150%;
  font-weight: bold;
}

/* Table layout */
table {
  font-family: arial, sans-serif;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  border: 5px solid #dddddd;
  text-align: center;
  margin-bottom: 30px;
  border-left: 0px solid #dddddd;
  border-right: 0px solid #dddddd;
}

.welcome{
    font-size: 100px;
    color: lightslategrey;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    text-align: center;
}

.intro{
    font-size: 30px;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    text-align: center;
}

.select{
    color: lightslategrey;
    text-align: center;
    font-size: 80px;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    padding-bottom: 60px;
}

img.safeway_img{
    width: 500px;
}

img.ferrells_img{
    width: 274px;
}

img.seven_img{
    width: 200px;
}

.post{
	margin-bottom: 80px;
	text-align: center;
}


a.link{
    position: relative;
	right: 50px;
	top: 30px;
}

.hidden{
	opacity: 0;
}

.visible{
	opacity: 1;
}

